* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Helvetica Now Display";
    src: url('/fonts/HelveticaNowDisplay-Regular.ttf') format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Helvetica Now Display";
    src: url('/fonts/HelveticaNowDisplay-Bold.ttf') format("truetype");
    font-weight: bold;
  }
  
  

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto; 
    padding-bottom: 20px;
  }

  nav a {
    font-family: "Helvetica Now Display";
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    margin: 0%;
    color: black;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    transition: background-color 0.35s;
  }

  nav a:hover, nav a:focus{
    color:#000000;
    font-weight: bold;
    text-decoration: underline;
  }

  nav h1{
    font-family: "Helvetica Now Display";
    text-decoration: none;
    font-size: 30px;
    margin: 0%;
    color: #5e5eff;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
  }

  h1{
    font-family: "Helvetica Now Display";
    font-weight: bold;
    text-decoration: none;
    margin: 0%;
    font-size: 80px;
    color: black;
  }

  h2{
    font-family: "Helvetica Now Display";
    font-weight: normal;
    text-decoration: none;
    margin: 0%;
    font-size: 30px;
    color: black;
  }

  h3{
    font-family: "Helvetica Now Display";
    font-weight: bold;
    text-decoration: none;
    margin: 0%;
    font-size: 25px;
    color: black;
  }

  p{
    font-family: "Helvetica Now Display";
    text-decoration: none;
    margin: 0%;
    font-size: 20px;
    color: black;
  }

  mark{
    background-color: #aaaaff;
  }

  .page-header{
    padding-top: 160px;
    padding-left: 100px ;
    padding-bottom: 200px ;
    background-color: #e4e4e4;
    
    max-width: 1300px;
    margin: 0 auto; 
    
  }

  .text-headings{
    display: flex;
    flex-direction: column;
  }

  .text-title{
    padding-bottom: 20px;
  }

  .section-one{
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto; 
    padding-top: 20px;
  }

  
  .font-title{
    padding-bottom: 20px;
  }

  .chosen-font h1{
    font-weight: bold;
    font-size: 40px;
  }

  .chosen-font h2{
    font-size: 40px;
    font-weight: normal;
  }

  .section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto; 

    padding-top: 20px;
    
  }

  .section-three a{
    font-family: "Helvetica Now Display";
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    margin: 0%;
    color: black;
    transition: background-color 0.35s;
  }

  .section-three a:hover, .section-three a:focus{
    color:#000000;
    font-weight: bold;
    text-decoration: underline;
  }

  .section-three, .section-four{
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    gap: 20px;
}
  
.section-four{
  padding-top: 20px;
  padding-bottom: 50px;
}

  .section-four a{
    font-family: "Helvetica Now Display";
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    margin: 0%;
    color: black;
}

.section-four a:hover, .section-four a:focus{
  color:#5e5eff;
}



.analysis-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.analysis-one p{
  max-width: 800px;
  padding-top: 15px;
}

.analysis-one h2{
  padding-bottom: 15px;
}

.steps{
  padding-top: 50px;
  padding-bottom: 50px;
}

.analysis-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.analysis-two p{
  max-width: 800px;
  padding-top: 15px;
}

.analysis-two h2{
  padding-bottom: 15px;
}

.intro{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  max-width: 1300px;
  margin: 0 auto;
}

.intro h1{
  font-size: 40px;
}





  